@use '../../../styles/bootstrap.scss';

:host {
  @include bootstrap.dimensions-host;
  @include bootstrap.flex-set;

  height: 300px;

  width: 40%;
  min-width: 300px;
  max-width: 600px;

  .login-form {
    padding: bootstrap.$spacing-margin-xl;

    .field {
      width: 60%;
      max-width: 600px;
      margin-bottom: bootstrap.$spacing-margin-xl;
    }
  }

  .register-button {
    margin-left: bootstrap.$spacing-margin-xl;
  }
}
