@use "../../../styles/bootstrap.scss";

$menu-container-size: 200px;

:host {
  @include bootstrap.flex-set;

  .menu-container {
    width: $menu-container-size;
    @include bootstrap.flex-set;
  }

  .menu-item {
    display: block;
    width: calc(100% - bootstrap.$dimensions-padding-s - bootstrap.$dimensions-margin-l);
    padding: bootstrap.$dimensions-padding-s;
    margin-top: bootstrap.$dimensions-margin-l;
  }

  .active {
    background-color: bootstrap.$colors-active-item-accent;
  }
}
