<hb-card
  [titleTranslationKey]="titleTranslationKey"
  [type]="mainCardType"
  [divider]="divider"
  [elevation]="elevation"
  [border]="border"
>
  <form class="flex-column">
    <mat-form-field
      class="flex--row email"
      appearance="outline"
    >
      <mat-label>
        {{ 'PayAsYouGo.RequestTextSynthesis.Fields.Title.Label' | translate }}
      </mat-label>

      <input
        type="text"
        matInput
        [formControl]="titleFormControl"
        [errorStateMatcher]="matcher"
      />
    </mat-form-field>

    <div class="flex-row">
      <mat-form-field appearance="outline">
        <mat-label>
          {{
            'PayAsYouGo.RequestTextSynthesis.Fields.Language.Label' | translate
          }}
        </mat-label>

        <mat-select [formControl]="languageFormControl">
          <mat-option
            *ngFor="let language of availableLanguages"
            [value]="language"
          >
            {{ language | synthesisLanguage }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>
          {{ 'PayAsYouGo.RequestTextSynthesis.Fields.Voice.Label' | translate }}
        </mat-label>

        <mat-select [formControl]="voiceFormControl">
          <mat-option
            *ngFor="let voice of availableVoices"
            [value]="voice"
          >
            {{ voice | synthesisVoice }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>
        {{
          'PayAsYouGo.RequestTextSynthesis.Fields.TextToSynthesize.Label'
            | translate
        }}
      </mat-label>

      <textarea
        matInput
        [formControl]="textToSynthesizeFormControl"
      >
      </textarea>

      <mat-hint>
        {{ textToSynthesizeLength }}
      </mat-hint>
    </mat-form-field>

    <button
      mat-flat-button
      type="button"
      color="accent"
      [disabled]="isFormInvalid"
      (click)="requestTextSynthesis()"
    >
      {{ 'PayAsYouGo.RequestTextSynthesis.Actions.Request' | translate }}
    </button>
  </form>
</hb-card>
