@use '../../../styles/bootstrap.scss';

:host {
  .toolbar {
    height: 5vh;
    min-height: 50px;
    justify-content: space-between;
  }

  .mat-toolbar {
    &.acrylic-toolbar {
      @include bootstrap.acrylic-set-toolbar();
    }
  }

  .menu-button {
    margin-right: bootstrap.$spacing-margin-xl;
  }

  .logged-user {
    align-self: flex-end;
  }
}
