@use '../../../styles/bootstrap.scss';

:host {
  .toolbar {
    height: bootstrap.$dimensions-toolbar-height;
    justify-content: space-between;
  }

  .mat-toolbar {
    &.acrylic-toolbar {
      @include bootstrap.acrylic-set-primary();
    }
  }

  .menu-button {
    margin-right: bootstrap.$spacing-margin-xl;
  }

  .logged-user {
    align-self: flex-end;
  }
}
