<mat-toolbar
  color="primary"
  class="toolbar"
  [ngClass]="{
    'acrylic-toolbar': isAcrylicEnabled,
    'mat-elevation-z4': !isAcrylicEnabled
  }"
>
  <div class="flex">
    <button
      *ngIf="isLoggedIn"
      (click)="toggleSideMenu()"
      mat-icon-button
      class="menu-button"
    >
      <mat-icon>menu</mat-icon>
    </button>

    <span>
      {{ 'Platform.Title' | translate }}
    </span>
  </div>

  <hb-logged-user *ngIf="isLoggedIn"> </hb-logged-user>

  <ng-content> </ng-content>
</mat-toolbar>
