//TODO: Figure out better names for those
$glass-opacity: 0.2;
$glass-primary-opacity: 0.4;
$glass-notification-opacity: 0.6;

$blur-size: 16px;

$glass-tint: #000000;
$glass-tint-primary: #4f28a5;
$glass-tint-accent: #ffd740;
$glass-tint-success: #09ff00;
$glass-tint-warning: #ff9900;
$glass-tint-error: #ff0000;

@mixin set(
  $blur-size: $blur-size,
  $glass-tint: $glass-tint,
  $glass-opacity: $glass-opacity
) {
  background-color: rgba($color: $glass-tint, $alpha: $glass-opacity);
  backdrop-filter: blur($blur-size);
  -webkit-backdrop-filter: $blur-size;
}

@mixin set-primary() {
  @include set($blur-size, $glass-tint-primary, $glass-opacity);
}

@mixin set-accent() {
  @include set($blur-size, $glass-tint-accent, $glass-opacity);
}

@mixin set-success() {
  @include set($blur-size, $glass-tint-success, $glass-opacity);
}

@mixin set-warning() {
  @include set($blur-size, $glass-tint-warning, $glass-opacity);
}

@mixin set-error() {
  @include set($blur-size, $glass-tint-error, $glass-opacity);
}
