@mixin set(
  $direction: column,
  $basis: auto,
  $shrink: 1fr,
  $grow: 1fr,
  $align-items: center,
  $align-content: center
) {
  display: flex;
  flex-basis: $basis;
  flex-direction: $direction;
  flex-shrink: $shrink;
  flex-grow: $grow;
  align-items: $align-items;
  align-content: $align-content;
}
