$padding-xxs: 1px;
$padding-xs: 2px;
$padding-s: 4px;
$padding-m: 8px;
$padding-l: 12px;
$padding-xl: 16px;
$padding-xxl: 24px;

$margin-xxs: 1px;
$margin-xs: 2px;
$margin-s: 4px;
$margin-m: 8px;
$margin-l: 12px;
$margin-xl: 16px;
$margin-xxl: 24px;
