@use 'bootstrap';

html,
body {
  height: 100%;
}

.mat-expansion-panel {
  background-color: rgba($color: #2d0e33, $alpha: 0.7) !important;
}

body {
  margin: 0;
  background-color: #343430;
  background-image: url('../assets/background-violet.png');
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

// TODO: Consider somehow cleaning up those classes
.acrylic {
  @include bootstrap.acrylic-set();

  &-notification {
    @include bootstrap.acrylic-set-accent();
    color: whitesmoke;

    &--success {
      @include bootstrap.acrylic-set-success-notification();
    }

    &--warning {
      @include bootstrap.acrylic-set-warning-notification();
    }

    &--error {
      @include bootstrap.acrylic-set-error-notification();
    }
  }
}

.material {
  &-notification {
    //TODO: Fill styling for material notifications
  }
}

.flex {
  @include bootstrap.flex-set(row);

  &-row {
    @include bootstrap.flex-set(row);
  }

  &-column {
    @include bootstrap.flex-set(column);
  }
}

.visibility-hidden {
  visibility: hidden;
}

.border {
  border: 1px solid #50504d;
}

.transparent {
  background-color: rgba($color: #ffffff, $alpha: 0);
  box-shadow: none !important;
}

.width {
  &-40 {
    width: 40%;
  }

  &-50 {
    width: 50%;
  }
}

.text {
  &-center {
    text-align: center;
  }

  &-light {
    font-weight: 300;
  }

  &-bold {
    font-weight: 500;
  }
}
