@use '../../../styles/bootstrap.scss';

$titleWidth: 250px;
$synthesisTextWidth: 300px;
$languageWidth: 40px;
$voiceWidth: 150px;

:host {
  .header-title {
    @include bootstrap.flex-set(column, $titleWidth, 0, 1.5, flex-start);
  }

  .header-synthesis-text {
    @include bootstrap.flex-set(column, $synthesisTextWidth, 2, 3, flex-start);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    min-width: 0;
  }

  .header-language {
    @include bootstrap.flex-set(column, $languageWidth, 0, 0.5, flex-start);
  }

  .header-voice {
    @include bootstrap.flex-set(column, $voiceWidth, 0, 1.5, flex-start);
  }

  .synthesis-text {
    margin-top: bootstrap.$spacing-margin-l;
  }

  .mat-expansion-panel {
    margin-bottom: bootstrap.$spacing-margin-l;

    .mat-panel-title {
      @include bootstrap.flex-set(row);
      column-gap: 10px;
    }
  }
}
