<mat-expansion-panel
  hideToggle
  class="flex"
  [ngClass]="{ border: isMaterial }"
>
  <mat-expansion-panel-header>
    <div class="header-title">
      {{ textSynthesis.title }}
    </div>

    <div class="header-synthesis-text">
      {{ textSynthesis.synthesisText }}
    </div>

    <div class="header-language">
      {{ textSynthesis.language }}
    </div>

    <div class="header-voice">
      {{ textSynthesis.voice }}
    </div>
  </mat-expansion-panel-header>

  <mat-divider></mat-divider>

  <div class="details">
    <div class="synthesis-text">
      {{ textSynthesis.synthesisText }}
    </div>

    <button
      class="synthesis-text"
      (click)="downloadSynthesis()"
    >
      Download
    </button>
  </div>
</mat-expansion-panel>
