@use "../../../styles/bootstrap.scss";

:host {
  .toolbar {
    height: 5vh;
    justify-content: space-between;
  }
  
  .menu-button {
    margin-right: bootstrap.$spacing-margin-xl;
  }

  .logged-user {
    align-self: flex-end;
  }
}