<hb-card
  [titleTranslationKey]="titleTranslationKey"
  [type]="mainCardType"
  [divider]="divider"
  [elevation]="elevation"
  [border]="border"
  [showLoadingIndicator]="true"
  [isLoading]="isActionInProgress$ | async"
>
  <div class="flex-column">
    <hb-skeleton *ngIf="isActionInProgress$ | async"></hb-skeleton>

    <mat-accordion multi>
      <hb-text-synthesis
        *ngFor="let textSynthesis of textSyntheses$ | async"
        [textSynthesis]="textSynthesis"
      >
      </hb-text-synthesis>
    </mat-accordion>

    <hb-empty-state
      *ngIf="shouldShowEmptyState$ | async"
      [messageTranslationKey]="emptyStateMessageTranslationKey"
      [redirectButtonRoute]="requestTextSynthesisRoute"
      [redirectButtonTranslationKey]="redirectButtonTranslationKey"
    ></hb-empty-state>
  </div>
</hb-card>
