@use '../../../styles/bootstrap.scss';

:host {
  .container {
    height: calc(100% - bootstrap.$dimensions-toolbar-height);
    background-color: transparent;
  }

  .mat-drawer-content {
    @include bootstrap.flex-set(
      column,
      auto,
      1fr,
      1fr,
      center,
      flex-start,
      center
    );
    padding-top: bootstrap.$spacing-padding-xxl;
  }
}
