@use '../../../styles/bootstrap.scss';

:host {
  .container {
    height: 95vh;
    background-color: transparent;
  }

  .mat-drawer-content {
    @include bootstrap.flex-set;
    padding-top: bootstrap.$spacing-padding-xxl;
  }
}
