$padding-xxs: 1px;
$padding-xs: 2px;
$padding-sm: 4px;
$padding-md: 8px;
$padding-md-lg: 12px;
$padding-lg: 16px;
$padding-xl: 32px;
$padding-xxl: 64px;

$margin-xxs: 1px;
$margin-xs: 2px;
$margin-sm: 4px;
$margin-md: 8px;
$margin-md-lg: 12px;
$margin-lg: 16px;
$margin-xl: 32px;
$margin-xxl: 64px;