@mixin set(
  $direction: column,
  $basis: auto,
  $shrink: 1fr,
  $grow: 1fr,
  $justify-content: center,
  $align-items: center
) {
  display: flex;
  flex-direction: $direction;
  flex-shrink: $shrink;
  flex-grow: $grow;
  justify-content: $justify-content;
  align-items: $align-items;
}
