@use 'bootstrap';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

// TODO: Consider somehow cleaning up those classes
.acrylic {
  @include bootstrap.acrylic-set();
}

.flex {
  @include bootstrap.flex-set(row);

  &-row {
    @include bootstrap.flex-set(row);
  }

  &-column {
    @include bootstrap.flex-set(column);
  }
}

.visibility-hidden {
  visibility: hidden;
}

.border {
  border: 1px solid rgb(197, 197, 197);
}

.transparent {
  background-color: rgba($color: #ffffff, $alpha: 0);
}

.width {
  &-40 {
    width: 40%;
  }

  &-50 {
    width: 50%;
  }
}

.text {
  &-center {
    text-align: center;
  }
}
