@use "bootstrap";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}


// TODO: Consider somehow cleaning up those classes
.acrylic {
  @include bootstrap.acrylic-set();
}

.flex {
  @include bootstrap.flex-set(row);

  &-row {
    @include bootstrap.flex-set(row);
  }

  &-column {
    @include bootstrap.flex-set(column);
  }
}

.visibility-hidden {
  visibility: hidden;
}