<mat-expansion-panel
  hideToggle
  class="flex"
  [ngClass]="{ border: isMaterial }"
>
  <mat-expansion-panel-header>
    <div class="header-title">
      <div class="label text-light">
        {{ 'PayAsYouGo.TextSyntheses.Header.Title' | translate }}
      </div>

      <div class="text-bold">
        {{ textSynthesis.title }}
      </div>
    </div>

    <div class="header-synthesis-text">
      <div class="label text-light">
        {{ 'PayAsYouGo.TextSyntheses.Header.SynthetizedText' | translate }}
      </div>

      <div class="text-bold">
        {{ textSynthesis.synthesisText | shortenText: 60 }}
      </div>
    </div>

    <div class="header-language">
      <div class="label text-light">
        {{ 'PayAsYouGo.TextSyntheses.Header.Language' | translate }}
      </div>

      <div class="text-bold">
        {{ textSynthesis.language }}
      </div>
    </div>

    <div class="header-voice">
      <div class="label text-light">
        {{ 'PayAsYouGo.TextSyntheses.Header.Voice' | translate }}
      </div>

      <div class="text-bold">
        {{ textSynthesis.voice }}
      </div>
    </div>

    <div class="header-price">
      <div class="label text-light">
        {{ 'PayAsYouGo.TextSyntheses.Header.Price' | translate }}
      </div>

      <div class="text-bold">
        {{ textSynthesis.priceInUsd }}
      </div>
    </div>
  </mat-expansion-panel-header>

  <mat-divider></mat-divider>

  <div class="details">
    <div class="synthesis-text">
      {{ textSynthesis.synthesisText }}
    </div>

    <button
      mat-flat-button
      color="accent"
      class="synthesis-text"
      (click)="downloadSynthesis()"
    >
      {{ 'PayAsYouGo.TextSyntheses.Content.Download' | translate }}
    </button>
  </div>
</mat-expansion-panel>
