<hb-card
  [titleTranslationKey]="titleTranslationKey"
  [type]="mainCardType"
  [elevation]="elevation"
  [divider]="divider"
  [border]="border">
  <div class="flex-column">
    <!-- <hb-profile-details></hb-profile-details> -->

    <hb-card
      [type]="innerCardType"
      [titleTranslationKey]="'Profile.Preferences.Title'"
      [border]="true"
      [divider]="true">
      <hb-preferences [preferencesFormGroup]="preferencesFormGroup">
      </hb-preferences>
    </hb-card>
  </div>
</hb-card>
